body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


/* bg-sections */

.section-header {
    padding: 0px 25px;
    background-image: url('./../img/section1.svg');
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-two {
    background-image: url('./../img/section2.svg');
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* barra de navegación */

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    /* color: #212529; */
    text-align: left;
    list-style: none;
    background-color: transparent !important;
    background-clip: padding-box;
    border: none !important;
    border-radius: none !important;
}

.navs-link-dropdown {
    color: white;
    padding: .5rem 1.5rem;
    text-decoration: none;
}

.navs-link-dropdown:hover {
    font-weight: 500;
    color: white;
    text-decoration: none;
}


/* tipography for bg-dark*/

.title-bg-purple {
    font-size: 48px;
    font-weight: 800;
    color: white;
    text-align: center;
}

.subtitle-bg-purple {
    font-size: 20px;
    font-weight: 400;
    color: white;
    text-align: center;
}

.bajada-bg-purple {
    font-size: 14px;
    font-weight: 300;
    color: white;
    text-align: center;
}

.text-footer {
    font-size: 13px;
    font-weight: 400;
    color: white;
}

.text-footer:hover {
    font-weight: 400;
    color: #00ffff;
}

.dec-link:hover {
    text-decoration: none;
}

.title-footer {
    font-size: 15px;
    font-weight: 600;
    color: white;
}


/* tipography for bg-light*/

.title-bg-white {
    font-size: 48px;
    font-weight: 800;
    color: rgb(54, 54, 54);
    text-align: center;
}

.subtitle-bg-white {
    font-size: 20px;
    font-weight: 400;
    color: rgb(54, 54, 54);
    text-align: center;
}

.bajada-bg-white {
    font-size: 14px;
    font-weight: 300;
    color: rgb(54, 54, 54);
    text-align: center;
}


/* tipography purple */

.title-purple {
    font-size: 45px;
    font-weight: 800;
    color: #4e007c;
}

.subtitle-purple {
    font-size: 18px;
    font-weight: 400;
    color: rgb(54, 54, 54);
    letter-spacing: 4px;
}


/* buttons */

.btn-lightblue {
    color: #00ffff;
    font-weight: 600;
    text-align: center;
    border-radius: 5px;
    border: 3px solid #00ffff;
    padding: .5rem 1.5rem;
    text-decoration: none;
}

.btn-lightblue:hover {
    color: #4e007c;
    background-color: #00ffff;
    text-decoration: none;
}

.btn-purple-solid {
    color: white;
    background-color: #4e007c;
    font-weight: 600;
    text-align: center;
    border-radius: 5px;
    border: 3px solid #4e007c;
    padding: .4rem 1.2rem;
    text-decoration: none;
}

.btn-purple-solid:hover {
    color: #4e007c;
    background-color: #ffffff;
    border: 3px solid #4e007c;
    text-decoration: none;
}

.btn-purple-outline {
    color: #4e007c;
    background-color: #ffffff;
    border: 3px solid #4e007c;
    font-weight: 600;
    text-align: center;
    border-radius: 5px;
    padding: .4rem 1.2rem;
    text-decoration: none;
}

.btn-purple-outline:hover {
    color: white;
    background-color: #4e007c;
    border: 3px solid #4e007c;
    text-decoration: none;
}